<!DOCTYPE html>
<html>
  <head>
    <title> Library </title>
  </head>
  <body>
    <%- include("./partials/navbar.ejs") %>
    <h1> The Library </h1>
    <p>Welcome to the Library</p>
    <p>Welcome <%= user.Email %></p>
  
  </body>
</html>
